<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <style>
        body {
            font-family: Arial, sans-serif;
            background-color: black;
            margin: 0;
            padding: 0;
        }

        h1 {
            color: white;
        }
        .btn-primary {
            padding: 12px 24px; /* Adjust the padding as needed */
        }
        
        .hero-image {
           position: relative;
           top: 50px;
           left: -200px;
        }
        
    </style>
</head>
<body>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-4 text-center" >
                <h1 class="mt-5 mb-4">Get started</h1>
                <a href="/register"><button class="btn btn-primary">Register</button></a> 
                <a href="/login"><button class="btn btn-primary ">Login</button></a> 
                <br>
                <img src="https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/d25b8838-dabc-4aa2-9600-8d17a2118fde/ddnzy1q-3a13bbe5-358e-47bf-aa4f-bc1ad414ff6d.png/v1/fill/w_1039,h_769,q_70,strp/one_piece_world_map_by_sharpsider_ddnzy1q-pre.jpg?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7ImhlaWdodCI6Ijw9NDM4MCIsInBhdGgiOiJcL2ZcL2QyNWI4ODM4LWRhYmMtNGFhMi05NjAwLThkMTdhMjExOGZkZVwvZGRuenkxcS0zYTEzYmJlNS0zNThlLTQ3YmYtYWE0Zi1iYzFhZDQxNGZmNmQucG5nIiwid2lkdGgiOiI8PTU5MTUifV1dLCJhdWQiOlsidXJuOnNlcnZpY2U6aW1hZ2Uub3BlcmF0aW9ucyJdfQ.BwwOKboNr1dkqfITDxZDuReE0AG85UTj1DX8wZrM4V0" 
                class="hero-image" th:width = "839" th:height = "569">

            </div>
        </div>
    </div>
</body>
</html>