<!DOCTYPE html>
<html>
<head>
    <title>My Map Test</title>
</head>
<body>
    <h1>Welcome to My Map Test</h1>
    
    <iframe
    width="600"
    height="450"
    style="border:0"
    loading="lazy"
    allowfullscreen
    referrerpolicy="no-referrer-when-downgrade"
    src="https://www.google.com/maps/embed/v1/directions?key=AIzaSyBAg-sV3lEj7XR_0nqAeCcg9Q6mITu8-xU&origin=place_id:ChIJX3364W9xhlQR0C3cwipNU5U&waypoints= place_id:ChIJp2zKeo1xhlQRWOMOmCcWJV8&waypoints= place_id:ChIJs8IJ5W9xhlQR37XQMO_WQ04&destination=place_idChIJQ6kjUkR2hlQRwwPRht1HELE
    
    ">
  </iframe>

</body>
</html>